h1{
  text-align: center;
 margin: 0;
}

body{
  background-color: #cccccc;
  margin: 0;
}

.heading{
  position: relative;
  left:0;
  top:0;
  color: #034f84;
  display: block;
  font-size: 50px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #deeaee;
  border-bottom: 4px solid grey;
}

#switch-data{
  margin-top: 10px;
}

.data-heading{
  width: 100%;
  text-align: center;
}

.control-panel{
  text-align: center;
  background-color: #5e76a0;
  padding-bottom: 20px;
}

.sidebar{
  position: fixed;
  top:64px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
}


li{
  text-align: center;
  border-bottom: solid;
  border-color: #f0efef;
  background-color:  white;
}

body > div.content{
  position: relative;
  left: 0;
  width: 100%;
  overflow: scroll;
}
